<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="static/css/util.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_v2.css') }}">
    
    {% if title %}
        <title>Cloud-Univ - {{ title }}</title>
    {% else %}
        <title>Cloud-Univ</title>
    {% endif %}
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-inverse navbar-expand-xl navbar-dark">
            <div class="navbar-header d-flex col">
                <a class="navbar-brand" href="{{ url_for('main.home') }}"><i class="fa fa-cube"></i>Cloud<b>Univ</b></a>  		
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
                    <span class="navbar-toggler-icon"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collection of nav links, forms, and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">		
                <ul class="nav navbar-nav navbar-right ml-auto">
                    {% if current_user.is_authenticated %}
                      <li class="nav-item"><a href="{{ url_for('posts.new_post') }}" class="nav-link"><i class="fa fa-edit"></i><span>New Post</span></a></li>		
                      <li class="nav-item active"><a href="{{ url_for('main.home') }}" class="nav-link"><i class="fa fa-home"></i><span>Home</span></a></li>
                      <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-envelope"></i><span>Messages</span></a></li>		
                      <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-bell"></i><span>Notifications</span></a></li>
                      <li class="nav-item"><a href="{{ url_for('main.about') }}" class="nav-link"><i class="fa fa-question-circle"></i><span>About</span></a></li>
                      <li class="nav-item dropdown">
                          <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" class="avatar" alt="Avatar"> {{ current_user.firstname }} <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                              <li><a href="{{ url_for('users.profile',id=current_user.id) }}" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a></li>
                              <li><a href="{{ url_for('users.account') }}" class="dropdown-item"><i class="fa fa-calendar-o"></i> Settings</a></li>
                              <li class="divider dropdown-divider"></li>
                              <li><a href="{{ url_for('users.logout') }}" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a></li>
                          </ul>
                      </li>
  
                      {% else %}
                      <li class="nav-item active"><a href="{{ url_for('main.home') }}" class="nav-link"><i class="fa fa-home"></i><span>Home</span></a></li>
                      <li class="nav-item"><a href="{{ url_for('main.about') }}" class="nav-link"><i class="fa fa-question-circle"></i><span>About</span></a></li>
                      <li class="nav-item dropdown">
                          <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"> Not Logged In <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                              <li><a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a></li>
                              <li><a href="{{ url_for('users.register') }}" class="dropdown-item"><i class="fa fa-calendar-o"></i> Register</a></li>
                              <li class="divider dropdown-divider"></li>
                              <li><a href="{{ url_for('users.login') }}" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Login</a></li>
                          </ul>
                      {% endif %}
                      </li>
                  </ul>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
      

        <div class="row">
          <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            {% block content %}   {% endblock %}
          </div>
        </div>
      </main>
    


  
  
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>
</body>
</html>