{% extends "layout_v2.html"%}
{% block content%}

<div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <form class="form" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
            <div class="e-profile">
              <div class="row">
                <div class="col-12 col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px;">
                    <div class="d-flex justify-content-center align-items-center rounded" style="margin-left: 30px;">
                        <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}">
                    </div>
                  </div>
                </div>

                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap"> {{ current_user.firstname }} {{ current_user.lastname }} </h4>
                    <p class="mb-0"> {{ current_user.email }} </p>

                  </div>
                  <div class="text-center text-sm-right">
                    <span class="badge badge-secondary">{{ current_user.role }}</span>
                    <div class="text-muted"><small>Joined {{current_user.last_login.strftime('%d-%h-%Y')}}</small></div>
                  </div>
                </div>
              </div>
              <ul class="nav nav-tabs">
                <li class="nav-item"><a href="" class="active nav-link">Skills Required</a></li>
              </ul>
              <div class="card-body">
                <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{ post.date_posted.strftime('%d-%h-%Y') }} </div>
                <a class="card-link" href="{{ url_for('posts.post', post_id=post.id) }}">
                    <h5 class="card-title"> {{ post.title }} </h5>
                </a>
      
                <p class="card-text"> {{ post.content[:250] }} ...</p>
                <div>
                    {% for skill in skills %}
                    <span class="badge badge-primary">{{ skill.skill }}</span>
                    {% endfor %}
                    
                </div>
            </div>
              <div class="tab-content pt-3">
                <div class="tab-pane active">
                    
                    <div class="form-group">
                        {{ form.skill.label(class="form-control-label") }}
                        {{ form.skill(class="form-control form-control-sm ") }}
                        {% if form.skill.errors %}
                            {{ form.skill(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.skill.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
               
                
                {{ form.submit(class="btn btn-light") }}

                <div class="col d-flex justify-content-end">
                    <a class="btn btn-primary" href="{{ url_for('main.home') }} ">Post</a>
                </div>    

                </div>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}
