{% extends "layout_v2.html"%}
{% block content%}
<div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <form class="form" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
            <div class="e-profile">
              <div class="row">
                <div class="col-12 col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px;">
                    <div class="d-flex justify-content-center align-items-center rounded" style="margin-left: 30px;">
                        <img class="rounded-circle account-img" src="{{ image_file }}">
                    </div>
                    <div class="mt-2">
                        
                      <button type="button" class="btn btn-outline-dark">{{ form.picture.label() }}</button>
                      {{ form.picture(class="custom-file-input", type="file") }}
                      
                      {% if form.picture.errors %}
                          {% for error in form.picture.errors %}
                              <span class="text-danger">{{ error }}</span></br>
                          {% endfor %}
                      {% endif %}
                  </div>
                  </div>
                  
                </div>

                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap"> {{ current_user.firstname }} {{ current_user.lastname }} </h4>
                    <p class="mb-0"> {{ "" + current_user.email }} </p>
                    <div class="text-muted"><small>Joined {{ current_user.last_login.strftime('%d-%h-%Y')}}</small></div>
                   
                  </div>
                  <div class="text-center text-sm-right">
                    {% if current_user.role == 'Student' %}
                      <span class="badge badge-primary"> {{ current_user.role }} </span>
                    {% else%}
                      {% if current_user == 'Entity' %}
                        <span class="badge badge-danger"> {{ current_user.role }} </span>
                      {% else %}
                      <span class="badge badge-warning"> {{ current_user.role }} </span>
                      {% endif %}

                    {% endif %}
                    
                  </div>
                </div>
              </div>
              <ul class="nav nav-tabs">
                <li class="nav-item"><a href="" class="active nav-link">Settings</a></li>
              </ul>
              <div class="tab-content pt-3">
                <div class="tab-pane active">
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                                {{ form.firstname.label(class="form-control-label") }}
                                    {% if form.firstname.errors %}
                                    {{ form.firstname(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                    {% for error in form.firstname.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.firstname(class="form-control form-control-lg") }}
                                {% endif %}                            
                            </div>
                            <div class="form-group">
                              {{ form.lastname.label(class="form-control-label") }}
                                  {% if form.lastname.errors %}
                                  {{ form.lastname(class="form-control form-control-lg is-invalid") }}
                                  <div class="invalid-feedback">
                                  {% for error in form.lastname.errors %}
                                  <span>{{ error }}</span>
                                  {% endfor %}
                                  </div>
                              {% else %}
                                  {{ form.lastname(class="form-control form-control-lg") }}
                              {% endif %}                            
                          </div>
                          <div class="form-group">
                            {{ form.birthday.label(class="form-control-label") }}
                                {% if form.birthday.errors %}
                                {{ form.birthday(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                {% for error in form.birthday.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                                </div>
                            {% else %}
                                {{ form.birthday(class="form-control form-control-lg") }}
                            {% endif %}                            
                        </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              {{ form.location.label(class="form-control-label") }}
                          
                              {% if form.location.errors %}
                                  {{ form.location(class="form-control form-control-lg is-invalid") }}
                                  <div class="invalid-feedback">
                                      {% for error in form.location.errors %}
                                          <span>{{ error }}</span>
                                      {% endfor %}
                                  </div>
                              {% else %}
                                  {{ form.location(class="form-control form-control-lg") }}
                              {% endif %}                            
                            </div>
                            
                            <div class="form-group">
                                {{ form.email.label(class="form-control-label") }}
                            
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class="form-control form-control-lg") }}
                                {% endif %}                            
                              </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col mb-3">
                            <div class="form-group">
                              {{ form.about.label(class="form-control-label") }}
                            
                                {% if form.about.errors %}
                                    {{ form.about(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.about.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.about(class="form-control form-control-lg",rows="5") }}
                                {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-6 mb-3">
                        <div class="mb-2"><b>Change Password</b></div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Your Password Or New Password </label>
                              {% if form.password.errors %}
                                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password(class="form-control form-control-lg",rows="5") }}
                                {% endif %}
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Confirm Password</label>
                              {% if form.confirm_password.errors %}
                                    {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.confirm_password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.confirm_password(class="form-control form-control-lg",rows="5") }}
                                {% endif %}
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    <div class="row">
                      <a href="{{ url_for('users.user_posts',id=current_user.id) }}" class="btn btn-danger">Cancel</a>
                      <div class="col d-flex justify-content-end">
                        {{ form.submit(class="btn btn-primary") }}
                      </div>
                    </div>
                </div>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}