{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.firstname }} {{ user.lastname }}</h2>
          <p class="text-secondary">Last login on  :  {{ user.last_login.strftime('%d-%h-%Y') }}</p>
          <p class="text-secondary">{{ user.email }}</p>
          <p class="text-secondary">birthday : {{ user.birthday.strftime('%d-%h-%Y') }}</p>
          {% if user.role =='Entity' %}
          <p> Work for  {{ user.company }}</p>
            {% else %}
                <p> {{ user.role }} At {{ user.departement }} Departement</p>
            {% endif %}
        </div>
        
        <a class="nav-item nav-link" href="{{ url_for('users.account') }}">Update Account</a>
        
      </div>
     
      <a class="nav-item nav-link" href="{{ url_for('users.add_skill', id = current_user.id) }}">Add Skill</a>
      {% for skill in skills %}
      <button type="button" class="btn btn-success btn-sm m-1" data-toggle="modal" data-target="#deleteModal">{{ skill.skill }}</button>
      {% endfor %}
        <fieldset class="form-group">
            {% for post in posts.items %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                
                <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
                <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
                <p class="article-content">{{ post.content }}</p>
              </div>
            </article>
        {% endfor %}
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if page_num %}
            {% if posts.page == page_num %}
              <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% else %}
              <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
          {% else %}
            ...
          {% endif %}
            
          {% endfor %}
               
        </fieldset>
            <div class="form-group">
                
            </div>
        </form>
    </div>

   
{% endblock content %}